.form{
    font-size: 2rem;
    margin: 10px auto; 
}
#counter-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2vh 2vw;
    padding: 5%;
    background: linear-gradient(to right,blue ,pink);
}
#counter-display > h1{
    text-align: center;
}


#timer{
    height:50px;
    width: fit-content;
    position: relative;
    margin: auto;
    overflow: hidden;
}
p{
    text-align: center;
    width: 30px; 
    font-size: 3rem;
    margin: 0px;
    border-top: 2px solid black;
    background-color: grey;
    
    
}
.next{
    position: absolute;
    top:50px;
    
}
.animate{
    transition: all 0.5s;
    top:0;
}