<h1>Register</h1>
<form action="/user/add" method="post">
  Enter Employee ID: <input name="eid" id="employee-number" required /> Enter
  your Name:
  <input name="name" required />
  Email Address:
  <input type="email" name="email" id="email" required />
  Password: <input name="password" type="password" id="password" required />
  <button type="submit">Register</button>
</form>
